* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
h3 {
    margin-top:1em;
}

p {
    margin: 12px 0;
}
a {
    overflow-wrap: break-word;
}
ul, ol > li {
    margin: 12px 0 12px 5%;
}

blockquote {
    /* background: #f9f9f9; */
    border-left: 5px solid #d76f8a; /*#ccc;*/
    margin: 1.5em 20px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    /* content: open-quote; */
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
    font-style: italic;
    font-size: 0.8em;
}
.page{
    width: 60%;
    margin: auto;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 3vh auto;
}



hr {
    margin-top: 1em;
    margin-bottom:1em;
    opacity: 0.5;
}
.title-center {
    text-align: center;
    text-transform: uppercase;
    margin: 1.2em 0;
}
.text-center {
    text-align: center;
}
.link {
    border-bottom: 3px solid #D76f8a;
    text-decoration: none;
    color: #1d2021;
    transition: background-color 0.3s;
}
.LangNav{
    display: flex;
    align-items: center;
    min-height: 5vh;;
    flex-wrap: wrap;
}
.lang{
    margin: 5px;
    border: solid 2px #d76f8a;
    padding: 5px 15px;
    border-radius: 5px;
}
.link:active, .link:hover {
    background-color: #d76f8a;
    border: 2px solid #D76f8a;
    color: #ffffff;
}
.presentation{
    /* display: flex; */
    width: 70%;
    /* min-height: 90vh; */
    height: auto;
    align-items: center;
    margin: auto;
}

.shortSummary {
    display: flex;
    width: 70%;
    /* height: auto; */
    align-items: center;
    margin: auto; 
    text-align: justify;
}

.cover{
    flex: 1;
}

.cover img{
    height: 40vh;
    animation: dropdown 1.5s ease-in forwards;
}
.introduction{
    flex: 1;
    opacity: 0;
    animation: fadein 1.5s ease-in forwards;

}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    margin-top: 2em;
}
.intro-text p{
    font-size: 22px;
    margin-top: 5px;
}

.bigger-circle{
    position: absolute;
    top: 13%;
    right: 0px;
    z-index: -2;
    opacity: 0.1;
    height: 60%;
    animation: fadeincircle 1.5s ease-in forwards;
}
.big-circle{
    position: absolute;
    top: 13%;
    right: 20%;
    z-index: -2;
    opacity: 0.1;
    animation: fadeincircle 1.5s ease-in forwards;
}
.small-circle{
    position: absolute;
    bottom: 35%;
    right: 20%;
    z-index: -2;
    opacity: 0.1;
    animation: fadeincircle 1.5s ease-in forwards;
}

#statements{
    text-align: center;
    margin-top: 2em;
}
.statements-section{
    display: flex;
    width: 90%;
    margin: auto;
}
.statement{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px;
    align-items: center;
    border: 2px solid #EFEFEF;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
    padding: 30px;
    flex: 1;
}
.statement:hover{
    box-shadow: 2px 5px 4px #888888;
}

small{
    margin: 10px 0px;
}

.services-logo{
    height: 50px;
}
.services-logo img{
    filter: invert(1);
}
.services{
    margin-top: 12vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.services h1{
    font-size: 44px;
    font-weight: 500;
}
.other-services{
    justify-content: center;
    text-align: center;
    align-content: center;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.service-block{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 30px;
    margin: 20px;
    border: 2px solid #EFEFEF;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
}
.service-block:hover{
    box-shadow: 2px 5px 4px #888888;
}
.service-block img{
    margin-top: 20px;
}
.service-block p{
    text-align: center;
    margin-top: 20px;
}
.service-block h2{
    margin-top: 20px;
}
.service-block a{
    text-decoration: none;
    color: #212121;
}

.list-item{
    display:flex;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap
}
footer{
    /* margin-top: 10vh; */
    padding: 5px;
    background: linear-gradient(to left, #d76f8a 0%, #e09a60 100%);
}
.footer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
}
.footer-div h2{
    font-size: 28px;
    margin-bottom: 3vh;
    font-weight: 500;
}
.social{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: auto;
}
.social li{
    list-style: none;
}
.social-links{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
}
.comments{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments a img{
    height: 35px;
    margin: 0px 10px;
    background: #F3AE2D;
    border: solid 5px #F3AE2D;
}
.comments a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    background: #F3AE2D;
    padding: 10px;
    margin: 40px auto 0px auto;
    transition: background 0.3s;
    border: solid 3px #F3AE2D;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments a:active, .comments a:hover {
    background: white;
    color: #F3AE2D;
}
@keyframes dropdown{
    0% {
	    opacity: 0;
	    transform: translateY(-80px);
    }
    100% {
	    opacity: 1;
	    transform: translateY(0px);
    }
}
@keyframes fadein{
    0% {
	    opacity: 0;
	    transform: translateX(80px);
    }
    100% {
	    opacity: 1;
	    transform: translateX(0px);
    }
}

@keyframes fadeincircle{
    0% {
	    opacity: 0;
    }
    100% {
	    opacity: 0.1;
    }
}

@keyframes appear{
    0% {
	    opacity: 0;
    }
    100% {
	    opacity: 1;
    }
}

@media screen and (max-width: 1600px){
    .presentation{
        flex-direction: column;
        height: auto;
    }
    .cover{
        display: flex;
        height: auto ;
        align-items: center;
        flex: 0 0;
        margin-top: 5vh;
    }
    .cover img{
        display: flex;
        justify-content: flex-end;
        width:50%;
        margin: auto;
        height: auto;
    }
    .introduction{
        text-align: center;
        flex: none;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .bigger-circle{
        top: 20%;
    }
    .big-circle{
        top: 20%;
    }
    .small-circle{
        bottom: 15%;
    }
    .page{
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column;
        height: auto;
    }
    .shortSummary {
        padding: 0px;
        box-sizing: border-box;
        width: 100%;
        /* height: auto; */
        /* align-items: center; */
        /* margin: auto;  */
    }
    .cover{
        display: flex;
        height: auto ;
        align-items: center;
        flex: 0 0;
        margin-top: 5vh;
    }
    .cover img{
        display: flex;
        justify-content: flex-end;
        width:80%;
        margin: auto;
        height: auto;
    }
    .introduction{
        text-align: center;
        flex: none;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .bigger-circle{
        top: 20%;
    }
    .big-circle{
        top: 20%;
    }
    .small-circle{
        bottom: 15%;
    }
    .statements-section{
        flex-direction: column;
    }
    .statement{
        width: auto;
    }
    .other-services{
        flex-direction: column;
        flex-wrap: none;
        width: auto;
    }
    .service-block{
        width: auto;
    }
    .social{
        width: auto;
    }
}


@media screen and (max-width: 300px){
    .social{
        display: block;
    }
}

/* Custom CSS */

.rem-underline {
    text-decoration: none;
}




/* Row column for fsci section */
.column {
    /* float: left; */
    width: 100%;
    padding: 50px;
    /* height: 300px; Only for demonstration */
}

.column-text {
    width: 70%;
    /* height: auto; */
    align-items: center;
    margin: auto; 
    text-align: justify;
}

.fsci-section-bottom-padding {
    padding: 0px;
}
  
@media screen and (max-width: 600px) {
    .column-text {
      width: 100%;
    }
}


/* Peertube video styling */

.video-frame {
    position: relative; 
    padding-bottom: 56.25%; 
    margin-bottom: 1rem; 
    height: 0; 
    overflow: hidden;
}

.video-embed {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border:0;
}

@media screen and (max-width: 600px) {
    /* .video-frame {
        /* position: relative; 
        /* padding-bottom: 56.25%;  */
        /* margin-bottom: 1rem;  */
        /* height: 0;  */
        /* overflow: hidden; */ 
    }
    /* .video-embed { */
        /* position: absolute; 
        width: 100%; 
        height: 100%;  */
        /* border:0; */
    } */
}