<!-- Footer -->
<footer id='join-us'>
    <div class="footer-div">
    <h2>{{i18n "join-us"}}</h2>
    <ul class="social social-circle">
        <li class="social-links">
            <a href="https://matrix.to/#/#meet.fsci.in:poddery.com?via=matrix.org&via=poddery.com&via=tchncs.de" target="_blank">
                <img width=42px src='{{"img/conversation.png" | absURL}}'>
            </a>Join the discussion
        </li>
    </ul>
    <div class="col-md-12 text-center">
        <p>Copyheart ❤ All wrongs reversed. <a class='link' href='https://gitlab.com/fsci/fsci-jitsi-meet-campaign-website'>Improve this site</a></p>
    </div>
    <div>
</footer>
